<ion-header>
  <ion-toolbar>
    <ion-title>AddingCSS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="adddingCSS">
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle><ion-img src="../assets/img/3.jpg"></ion-img></ion-card-subtitle>
     
    </ion-card-header>
     <ion-card-content> Ways of inserting a style sheet</ion-card-content>
     <ion-button (click)="exitpage()">EXIT</ion-button>
     <ion-button (click)="nextpage()">REVEAL</ion-button>
  </ion-card>



</div>
</ion-content>
