#backarrow{
    max-height: 4em;
}

#bwidthrange, #bradiusrange, #lspacerange {
    max-width: 25em;
}

ion-content{
    --background: #fff url('../../../assets/img/pastel.JPG') no-repeat center center / cover;
}

ion-card{
    --background: #ffffff;
}