<ion-header>
  <ion-toolbar>
    <ion-title>font4ans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      This property has three values (usually use for italic):
      <ion-list>normal - The text is shown normally </ion-list>
      <ion-list>italic - The text is shown in italics </ion-list>
      <ion-list>oblique - The text is "leaning" (oblique is very similar to italic, but less supported) </ion-list>
      
      Example:
      font-style: italic;
    </ion-card-content>
    <ion-button (click)=" exitpage()">EXIT</ion-button>
  </ion-card>
</ion-content>
