<ion-header>
  <ion-toolbar>
    <ion-title>bkg3ans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-list>background-position: center;</ion-list>
      <ion-list>background-position: top;</ion-list>
      <ion-list>background-position: bottom;</ion-list>
      <ion-list>background-position: right;</ion-list>
      <ion-list>background-position: left;</ion-list>
    </ion-card-header>
    <ion-card-content><ion-img src="../assets/img/imageposition.gif" ></ion-img></ion-card-content>
    <ion-button (click)="nextpage()">NEXT</ion-button>
  </ion-card>

</ion-content>
