<ion-header>
  <ion-toolbar>
    <ion-title>addcss2ans</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
  <ion-card-subtitle>All the styles in a page will "cascade" into a new "virtual" style sheet by the following rules, where number one has the highest priority:</ion-card-subtitle>
  <ion-card-content>
    <ion-list>Inline style (inside an HTML element)</ion-list>
    <ion-list>External and internal style sheets (in the head section)</ion-list>
    <ion-list>Browser default</ion-list>
  </ion-card-content>
  <ion-button (click)="exitpage()">EXIT</ion-button>
</ion-card>
</ion-content>
